@inject ITeamStorage teamStorage



<div class=" members">
    @foreach (var member in teamStorage.Members)
    {
        <MemberComponent Member="member" />
    }
</div>


@code {
    protected override void OnInitialized()
    {
        teamStorage.StorageUpdated += UpdateUi;
    }

    private void UpdateUi()
    {
        // Update UI logic here
        StateHasChanged();
    }

    // Don't forget to unsubscribe when the component is disposed
    public void Dispose()
    {
        teamStorage.StorageUpdated -= UpdateUi;
    }
}
